# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Test files
TestResult.xml

#Packages
[Pp]ackages/

# Misc
*.user

# Visual Studio cache/options directory
.vs/

# Python Distribution / packaging
.Python
.ipynb_checkpoints/
__pycache__/
*.dll
*.pyd
*.egg-info/
*.egg
*.whl
